{% extends 'base.html.twig' %}

{% block metaDescription %}Rejoignez un réseau de franchisés à succès. Lancez vous ! Demandez votre documentation. Vous souhaitez profiter des avantages de la franchise ? Découvrez notre concept.{% endblock %}
{% block title %}devenez franchisé - {% endblock %}
{% block becomeActive %}active{% endblock %}
{% block panelPage %}become{% endblock %}

{% block content %}

<div class="body-index">

  {# title #}
  <div class="page-title">
    <h1>devenez franchisé</h1>
  </div>    

  <div class="description_tools">

    {# description #}
    <div class="description">
      <div class="paragraphe">
        <div class="image">
          <img src="{{asset('assets/images/gym_1.jpg')}}" alt="image">
        </div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, <b>consectetur</b>, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
      <div class="paragraphe">
        <div class="image">
          <img src="{{asset('assets/images/gym_2.jpg')}}" alt="image">
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <b>pariatur</b>. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="paragraphe">
        <div class="image">        
          <img src="{{asset('assets/images/gym_3.jpg')}}" alt="image">
        </div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione <b>voluptatem</b> sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>      
    </div>

    <div class="info-tools">
      <div class="title">
        <h2>profitez de nos outils en ligne</h2>
      </div>

      {# tools #}
      <ul class="become-tools">
        <li class="">                
          <img src="{{asset('assets/images/newsletter.jpg')}}" alt="image">                
          <div class="overlay">envoyer des bulletins de nouvelles<div>                
        </li>
        <li class="">
          <img src="{{asset('assets/images/calendar.jpg')}}" alt="image">
          <div class="overlay">gestion des horaires d'équipe<div>
        </li>
        <li class="">
          <img src="{{asset('assets/images/drinks.jpg')}}" alt="image">
          <div class="overlay">vendre des boissons<div>
        </li>
        <li class="">
          <img src="{{asset('assets/images/promotion.jpg')}}" alt="image">
          <div class="overlay">promotion de salle<div>
        </li>
        <li class="">
          <img src="{{asset('assets/images/payments.jpg')}}" alt="image">
          <div class="overlay">calendrier de paiements<div>
        </li>
        <li class="">
          <img src="{{asset('assets/images/statistics.jpg')}}" alt="image">
          <div class="overlay">statistiques des utilisateurs<div>
        </li>
      </ul>    
    </div>

  </div>

  
  <div class="contact">
    <p>Contactez <a href="mailto:info@lagrumeindigo.com">nous</a> pour devenir franchisé !!</p>
  <div>


</div>

{% endblock %}